*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  width: 1200px;
  margin: auto;
  padding:  30px;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
}

.result__video-container {
  display: flex;
  position: relative;
  background-color: black;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: fill;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__textfield {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
  height: 27px;
  color: #fff;
}

.search-form__label:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  align-items: center;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before,
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
<<<<<<< HEAD
  content: "";
=======
  content: '';
>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  width: 100%;
  height: 34px;
}

.search-form__submit-button {
  align-self: self-end;
}

.content__details {
  width: 399px;
  height: 100%;
}

.title {
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
<<<<<<< HEAD
=======

>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
}

.content__list {
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.content__list-item {
  width: 100%;
}

<<<<<<< HEAD
=======

>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

<<<<<<< HEAD
=======

>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
.content__card-link {
  display: block;
  width: 100%;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  width: 100%;
  display: flex;
<<<<<<< HEAD
}

.search-form__label:has(:focus-visible),
.search-form__submit-button:focus-visible,
=======

}

.search-form__label:has(:focus-visible),
.search-form__submit-button:focus-visible, 
>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

<<<<<<< HEAD
.search-form__label-text:hover,
.button:hover,
.content__card-link:hover {
=======
.search-form__label-text:hover, .button:hover, .content__card-link:hover {
>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

<<<<<<< HEAD
.button:active,
.content__card-link:active {
=======
.button:active, .content__card-link:active {
>>>>>>> cd19779ea24ccc0034e3e78a380a271f19ab8da6
  background-color: #545050;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-thumbnail {
  display: block;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 100%;
  padding: 2px 0 2px 2px;
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
}
